#game {
  position: absolute;
  width: 50%;
  top: 0;
  height: 400px;
  left: 25%;
  top: 50px;
  background-color: beige;
}

.game-img {
  width: 40%;
  margin-right: 10%;
  height: 200px;
  float: left;
}
.game-img img {
  width: 100%;
  height: 200px;
}

.game-check {
  position: relative;
  width: 50%;
  height: 200px;
  float: right;
}

.btn-check {
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn-pass {
  position: absolute;
  bottom: 0;
  left: 0;
}
.game-score {
  position: absolute;
  top: 10px;
  left: 35%;
}
.game-text {
  position: absolute;
  top: 80px;
  left: 15%;
}

.btn-hints {
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;
  height: 200px;
  float: left;
}
